{% extends 'estoque/base.html' %}
{% block title %}Detalhes do Produto{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-xl-12 mx-auto">
            <p>Nome do produto: {{ produto.nome }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 mx-auto">
            <p>Preço do produto: {{ produto.valor }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 mx-auto">
            <p>Produtos em estoque: {{ produto.quantidade }}</p>
        </div>
    </div>

    <input type="button" value="Modificar" class="btn btn-primary" onclick="location.href = '{% url 'estoque:ModificarProduto' produto.pk %}'"/>
    <input type="button" value="Deletar" class="btn btn-danger" onclick="location.href = '{% url 'estoque:DeletarProduto' produto.pk %}'"/>
    <input type="button" value="Voltar" class="btn btn-secondary" onclick="location.href = '{% url 'estoque:ExibirProdutos'%}'"/>

</div>

{% endblock %}
